/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
}

#root {
  min-height: 100vh;
}
